
@{
    ViewData["Title"] = "AdminMain";
}

<h3>Администрирование портала</h3>

<form asp-controller="Home" asp-action="CreateRemark" method="post" enctype="multipart/form-data">   
    <input type="submit" value="Создать новый проект">
</form>
<br /><br />
<form asp-controller="Home" asp-action="CreateRemark" method="post" enctype="multipart/form-data">
    <input type="submit" value="Импортировать пользователей">
</form>
 
        

