
@{
    ViewData["Title"] = "AdminMain";
    string logs = string.Empty;
    string logsForCheck = ViewData["Logs"] as string;
    if (!string.IsNullOrEmpty(logsForCheck)) logs = logsForCheck;
}

<h3>Администрирование портала</h3>

<form asp-controller="Admin" asp-action="CreateNewProject" method="post" enctype="multipart/form-data">   
    <input type="submit" value="Создать новый проект">
</form>
<br /><br />
<form asp-controller="Home" asp-action="ImportUsersFromAd" method="post" enctype="multipart/form-data">
     <input type="submit" value="Импортировать пользователей">
     <a class="btn btn-default" asp-controller="Admin" asp-action="ImportUsersFromAD"><i ></i>Импортировать пользователей</a>
</form>
<div>
    <button type="button" asp-controller="Admin" asp-action="ButtonClick" value="ButtonClick">ButtonClick</button>
</div>
 <div class="Logs">
     Logs: @logs
 </div>       

<script>


</script>