
@model Corrections
@{
    Project project = ViewData["Project"] as Project;
    ViewData["Title"] = "2602-3 \"Завод масел\"";
    DateTime newDate = DateTime.Now.Date;

    string GetStatus(Corrections.CorStatus status)
    {
        switch (status)
        {
            case Corrections.CorStatus.New:
                return "Новая";
            case Corrections.CorStatus.CorrectedByExecutor:
                return "Исправлено исполнителем";
            case Corrections.CorStatus.CheckedByBim:
                return "Проверено BIM-менеджером";
            case Corrections.CorStatus.Done:
                return "Снято";
            case Corrections.CorStatus.NewAgain:
                return "Повторное";

        }
        return "Не найдено";

    }
}
<br>
<h3>@String.Format("Замечание № {0}", Model.CorNumber.ToString()) </h3>
<br>
<style>
    table[id="Corrections"] {
        border: 4px double #333; /*Рамка вокруг таблицы */
        /*border-collapse: separate;  Способ отображения границы */
        /*width: 100%;  Ширина таблицы */
        border-spacing: 10px /* Расстояние между ячейками  */
    }

    th {
        font-size: 14px
    }

    td {
        font-size: 12px
    }
</style>

<table id="Corrections" width="100%" cellspacing="0" cellpadding="4" border="1">
    <tr>
        <td>Текст замечания</td>
        <td>@Model.CorBodyText</td>
    </tr>
    <tr>
        <td>Скриншот</td>
        <td><img src="~/images/@(Model.ImageLink)" asp-append-version="true" width="400" height="300" onclick="changeSizeImage(this)" /></td>
    </tr>
    <tr>
        <td>Текущий статус замечания</td>
        <td>@GetStatus(Model.Status)</td>
    </tr>   
</table>

<table id="Response" width="100%" cellspacing="0" cellpadding="4" border="1">
    <form asp-controller="Corrections" asp-action="CompleteCorrection" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div></div>
        <input type="hidden" asp-for="CorNumber" value=11></input>

        <br><br>
            <tr>
                <td>  <label class="RemarkText1" asp-for="Response.Text">Текст замечания</label></td>

                <td>
                    <textarea rows="3" cols="80" asp-for="Response.Text"></textarea>
                    <span asp-validation-for="Response.Text"></span>
                </td>
<tr>
        <tr>
        <td>Скриншот устранения</td>
            <td>
        <input class="input-file" asp-for="Response.ImageFile" accept="image/*"></input>
        <span asp-validation-for="Response.ImageFile" class="text-danger"></span>
                </td>
            </tr>
        <tr>

            <td> <input type="submit" value="Отправить ответ">
            </td>
            </tr>
</form>
</table>








