@model SelectList
@{
    ViewData["Title"] = "GetSt";
    
    
}


<h2>GetSt</h2>
<form asp-controller="Home" asp-action="GetStat">
    @Html.DropDownList("Statuses", Model as SelectList);
   <input type="hidden" name="Stat1" value="8888">
    <input type="submit" value="Передать статус">
</form>