
@model AppDbContext
@{
                ViewData["Title"] = "Все проекты";
                DateTime newDate = DateTime.Now.Date;
               
            }
<br>
<h3>Все проекты</h3>
<br>
<style>
   table[id="ProjectTable"]{
     border: 4px double #333; /*Рамка вокруг таблицы */
    /*border-collapse: separate;  Способ отображения границы */ 
    /*width: 100%;  Ширина таблицы */
    border-spacing: 10px /* Расстояние между ячейками  */
        }
        th{
       font-size:14px
    }
    td {
        font-size: 12px
    }      
  
  </style>

<table id="ProjectTable" width="100%" cellspacing="0" cellpadding="4" border="1">
    <tr>
        <th width="10%">Внутренний номер проекта</th>
        <th width="30%">Наименование проекта</th>
        <th width="5%">Кол-во замечаний (отработанные/общее кол-во)</th>
        <th width="30%">Скриншот</th>
        <th width="10%">Статус проекта</th>        
    </tr>
    
 @foreach (var project in Model.ProjectSet)
 {
     var corSet = Model.Cors.Where(x => x.Project.Id == project.Id);
     var corDoneSet = corSet.Where(x => x.Status == Corrections.CorStatus.CorrectedByExecutor);
     //String path = String.Format("<img src=\"~\\images\\{0}\" />", cor.ImageLink);
    <tr>
       <td>@project.InternalNum</td>
        <td>@project.FullName</td>
        <td>@String.Format("{0}/{1}", corDoneSet.Count(),corSet.Count())</td>
        <td></td>
        <td>
            <br /><br />
            <ul class="nav navbar-nav">
                <li><a asp-route-Id="@project.Id" asp-controller="Corrections" asp-action="ViewCorrections">Посмотреть замечания</a></li>
                </ul>
        </td>
        <td>  
        </td> 
        <td></td>
    </tr>
 }

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<br><br>


           
    <a class="btn-toolbar" asp-controller="Corrections" asp-action="CreateCor"> Создать новое замечание </a>      
          
            
 

            <script>
                <script language="JavaScript">
                    var bigsize = "300"; //Размер большой картинки
                    var smallsize = "150"; //Размер маленькой картинки
                    function changeSizeImage(im) {
              if(im.height == bigsize) im.height = smallsize;
                    else im.height = bigsize;
}
            </script>
