body {
   
}

.field-validation-error { color: #4cff00;}
.field-validation-valid {
    display: none;
}
.input-validation-error{
    border: 1px solid #4cff00; background-color: #4cff00;
}

.field-validation-error{font-weight; bold; color: #4cff00}

.header {
    font: 80px;
    color: #f00
}

CorBodyText.field-validation-error {
    border: 4px solid #ffd800;
    background-color: #fee;
}

.input-file.field-validation-error {
    border: 1px solid #ffd800;
    background-color: #ffd800;
}

.Image-file.field-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}