
.input-validation-error {border: 1px solid #f00;
                         color : red
}
.input-validation-valid {
    display: none
}

.validation-summary-errors {color: red}

table {
    border-spacing: 10px;
    border-collapse: separate;
    
   
}

/*
div.FullName {
    width: 700px;
    border: 1px solid #f00;
    color: red
}

#FullName {
    width: 700px;
    border: 1px solid #f00;
    color: red
}
    

.header1 {
    font: 700;
    color: red;
}*/